.movie {
  color: black;
  font-size: 18px;
  margin: 0px;
  background: #800080;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ffc0cb, #800080);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ffc0cb, #800080); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.movieList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
    
  
}


button{
  
  color:white;
  background-color: #22254b;
  font-family:monospace;
  
}
#title , #year {
  color:black;
  font-family:fantasy;

}
#card {
  background: #ff7e5f;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #feb47b, #ff7e5f);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #feb47b, #ff7e5f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  border-radius: 3px;
 
  margin:1rem;
  width:250px;
}

#item {
  width: 125px;
  margin-left: 600px;
 
  text-align: center;

}
#h ,#h2 {

  font-size:15px;
  text-align:left;
  margin: 0;
  font-family: 'Tourney', cursive;
 
  color: black;
}
#footer {
margin-top: 50px;
  text-align: center;
  background-color: #e1eec3;
}

#e:hover{
   color: white;
}
#i:hover{
   color: red;
}
#icon:hover {
  color:gold; 
}

.playdel {
display: flex;
justify-content: space-around;
color: cyan;

  
}
#e {
  padding-left: 10px;

}
#text {
  font-family: 'Shadows Into Light', cursive;
}
#add{
  color:white
}
#add:hover{
  color:green
}
#img {
 opacity: 0.7;
}
#img:hover{opacity: 1;}